.bg-contact {
    background-image: url(../../image/contact/about-post.jpg);
    background-size: cover;
    /* Để hình nền phủ đầy */
    background-repeat: no-repeat;
    /* Không lặp lại hình nền */
    background-position: center;
    /* Căn giữa hình nền */
}
